.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

.noGutters {
  padding-left: 0;
  padding-right: 0;
}

.narrow {
  max-width: var(--content-width-narrow);
}

.wide {
  max-width: var(--content-width-wide);
}

.full {
  max-width: none;
}
