body [data-sonner-toast] {
  transform: translateX(var(--toast-x, 0)) var(--toast-y, var(--y));
}

body [data-sonner-toast][data-x-position='right'][data-y-position='top'] {
  --toast-x: 120%;
  --toast-y: translateY(0);
}

body [data-sonner-toast][data-x-position='right'][data-y-position='top'][data-expanded='true'] {
  --toast-y: translateY(calc(var(--lift) * var(--offset)));
}

body [data-sonner-toast][data-x-position='right'][data-y-position='top'][data-expanded='false'][data-front='false'] {
  --toast-y: translateY(calc(var(--lift-amount) * var(--toasts-before)))
    scale(calc(-1 * var(--scale)));
}

body [data-sonner-toast][data-x-position='right'][data-y-position='top'][data-mounted='true'] {
  --toast-x: 0;
}

body [data-sonner-toast][data-x-position='right'][data-y-position='top'][data-removed='true'] {
  --toast-x: 120%;
}
